html, body, #app{
    height: 100%;
    background-color: #2d2a2e; /* Faded dark background, Monokai Pro Octagon base */
}

html, body, #app {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import'~bootstrap/dist/css/bootstrap.css'